<div id="<%= dom_id result %>">
  <p>
    <strong>Athlete:</strong>
    <%= result.athlete&.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= result.event&.name %>
  </p>

  <p>
    <strong>Performance:</strong>
    <%= result.performance %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= result.date %>
  </p>

</div>
